.banner {
  height: 550px;
}
.banner .banner-main {
  position: relative;
  cursor: pointer;
}
.banner .banner-main .img-wrapper {
  overflow: hidden !important;
}
.banner .banner-main .img-wrapper img {
  height: 550px;
  object-fit: cover;
  object-position: top left;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.banner .banner-main:hover .img-wrapper img {
  transform: scale(1.07);
}
.banner-content {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 100%;
}
.banner-content h2 {
  font-family: "Crimson Pro", serif;
  font-size: 48px;
}
.banner {
  position: relative;
}
.banner .right-boxes-wrapper .banner-right-1,
.banner .right-boxes-wrapper .banner-right-2 {
  background: #fafafa;
  position: relative;
  width: 100%;
  height: 266.5px;
  cursor: pointer;
  overflow: hidden;
}
.banner .right-boxes-wrapper .banner-right-1 img,
.banner .right-boxes-wrapper .banner-right-2 img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 170px;

  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.banner .right-boxes-wrapper .banner-right-2 {
  background: #fafafa;
}
.banner-right-content {
  margin-top: 50px;
  z-index: 2;
  position: relative;
}
.banner-right-content h2 {
  font-weight: 700;
  line-height: 1.01;
  /* color: #0D6EFD; */
  color: #000;
}

.banner .right-boxes-wrapper .banner-right-1:hover img,
.banner .right-boxes-wrapper .banner-right-2:hover img {
  transform: scale(1.1);
}
.hover-block {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 43, 9, 0);
  background-image: linear-gradient(
    180deg,
    rgba(0, 43, 9, 0) 36%,
    rgba(1, 162, 183, 0.85) 100%
  );
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.banner .right-boxes-wrapper .banner-right-1:hover .hover-block,
.banner .right-boxes-wrapper .banner-right-2:hover .hover-block {
  top: 0px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 992px) {
  .banner {
    height: auto;
  }
  .banner .container-fluid {
    width: 100% !important;
  }
  .banner .banner-main {
    padding: 0px;
  }
  .banner .banner-main .img-wrapper img {
    height: auto;
    object-position: center center;
  }
  .banner .right-boxes-wrapper .banner-right-1 img,
  .banner .right-boxes-wrapper .banner-right-2 img {
    width: 110px;
  }
  .banner-content {
    top: 120px;
    left: 30px;
    width: 90%;
  }
  .right-boxes-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media (max-width: 766px) {
  .banner-content {
    top: 50px;
    left: 15px;
    width: 90%;
  }
  .banner-content h2 {
    font-size: 38px;
  }
  .banner .banner-main .img-wrapper img {
    height: 300px;
    object-position: center center;
  }
}
